@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("../components/header.css");
@import url("../components/footer.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}


:root {
    --swiper-theme-color: #000000
}

$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


main{
    .onescreen{
        width: 100%;
        height: 825px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, white 55%, #F1EADC 45%);

        .onescreen-wrapper{
            width: 70%;
            height: 100%;
            display: flex;
            .right-side{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .btn-wrapper{
                    z-index: 10;
                    transform: translateY(175px) translateX(-25px);
                    position: absolute;
                    cursor: pointer;
                    width: 20vw;
                    height: 72px;
                    display: flex;
                    align-items: center;
                    border: solid 1px #6E9C9F;

                    div{
                        margin-top: 0px;
                    }

                    .btn-svg{
                        overflow: hidden;
                        background: rgba(110, 156, 159, 0.1);;
                        width: 25%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .btn{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 75%;
                        background: #6E9C9F;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 400;
                        @include adaptiv-font(16, 8);
                        line-height: 138.9%;
                        text-align: center;
                        letter-spacing: 0.02em;
                        color: #FFFFFF;
                    }
                }

                .btn-wrapper:hover{
                    .btn{
                        width: 75%;
                    }
                    .btn-svg{
                        width: 25%;
                        svg{
                            transform: rotate(-90deg);
                        }
                    }
                }

                .btn-wrapper-active{
                    .btn{
                        width: 0%;
                        font-size: 0px;
                    }
                    .btn-svg{
                        width: 100%;
                        svg{
                            transform: rotate(-90deg) translateY(300px);
                        }
                    }
                }

                .btn-wrapper-active:hover{
                    .btn{
                        width: 0%;
                        color: #6E9C9F;
                    }
                    .btn-svg{
                        width: 100%;
                        svg{
                            transform: rotate(-90deg) translateY();
                        }
                    }
                }

                .swiper {
                    width: 101%;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    .swiper-slide {
                        width: 100%;
                        text-align: center;
                        @include adaptiv-font(18, 8);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        
    
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
    
                        h1{
                            text-align: left;
                            width: 35vw;
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 500;
                            @include adaptiv-font(55, 35);
                            line-height: 110%;
                            letter-spacing: 0.02em;
                        }
    
                        div{
                            margin-top: 30px;
                            width: 100%;
                            display: flex;
                            justify-content: start;
                            span{
                                width: 25vw;
                                text-align: right;
                                font-family: 'Raleway';
                                font-style: normal;
                                font-weight: 400;
                                @include adaptiv-font(20, 14);
                                line-height: 140%;
                                text-align: right;
                                letter-spacing: 0.02em;
                            }
                        }


                    }
    
                    .swiper-pagination{
                        span{
                            width: 30px;
                            height: 5px;
                            border-radius: 0px;
                        }
                    }
                }
            }
            .left-side{
                width: 50%;
                height: 100%;
                img{
                    display: block;
                    position: relative;
                }

                img:nth-child(1){
                    top: 10%;
                    left: 10%;
                }
                
                img:nth-child(2){
                    top: -58%;
                    left: 61%;
                }
                img:nth-child(3){
                    top: -45%;
                    left: -3%;
                }
            }
        }
    }

    .second-screen{
        margin-top: 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 70%;

            .title{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                @include adaptiv-font(40, 30);
                line-height: 110%;
                letter-spacing: 0.02em;
            }

            .el-wrapper{
                margin-top: 2%;
                display: flex;
                align-items: center;
                justify-content:space-between;

                .el{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 32.5%;

                    .title{
                        margin-top: 24px;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 500;
                        @include adaptiv-font(20, 16);
                        line-height: 140%;
                        letter-spacing: 0.02em;
                    }

                    img{
                        width: 100%;
                    }

                    .price-wrap{
                        margin-top: 5px;
                        .old-price{
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 500;
                            @include adaptiv-font(15, 10);
                            line-height: 140%;
                            letter-spacing: 0.02em;
                            text-decoration-line: line-through;
                            color: #9C9C9C;
                        }
                        .price{
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 500;
                            @include adaptiv-font(15, 10);
                            line-height: 140%;
                            letter-spacing: 0.02em;
                            color: #998E78;
                        }
                    }
                    .price{
                        margin-top: 5px;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 500;
                        @include adaptiv-font(15, 10);
                        line-height: 140%;
                        letter-spacing: 0.02em;
                        color: #998E78;
                    }
                }
            }
            .btn-wrapper{
                cursor: pointer;
                width: 100%;
                height: 72px;
                display: flex;
                justify-content: center;
                margin-top: 65px;

                .btn{
                    border: solid 1px #6E9C9F;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 25%;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    @include adaptiv-font(16, 10);
                    line-height: 138.9%;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color: #6E9C9F;
                }
            }
        }
    }

    .about-us{
        margin-top: 5%;
        width: 100%;
        height: 320px;
        display: flex;
        justify-content: center;
        .wrapper{
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                @include adaptiv-font(40, 30);
                line-height: 110%;
                letter-spacing: 0.02em;
                color: #000000;
            }

            .el-wrapper{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 70%;
                
                .el{
                    width: 30%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    img{
                        max-width: 60px;
                    }
                    
                    .wrap{
                        width: 100%;
                        height: 60%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .title{
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 500;
                            @include adaptiv-font(25, 19);
                            line-height: 140%;
                            letter-spacing: 0.02em;
                        }

                        .subtitle{
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 500;
                            @include adaptiv-font(17, 13);
                            line-height: 140%;
                            letter-spacing: 0.02em;
                            color: #000000
                        }
                    }
                }
            }
        }
    }


    
    .dream-team{
        margin-top: 5%;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;

        .wrapper{
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                @include adaptiv-font(40, 30);
                line-height: 110%;
                letter-spacing: 0.02em;
                color: #000000;
            }

            .slider-and-text{
                margin-top: 25px;
                width: 100%;
                height: 80%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .swiper {
                    width: 50%;
                    height: 100%;
                    margin: 0;

                    .swiper-slide {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .swiper-button-prev, 
                    .swiper-button-next{
                        color: #FFFFFF;
                    }
                }

                .text-wrapper{
                    display: flex;
                    flex-direction: column;
                    width: 45%;
                    height: 50%;

                    .title{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 500;
                        @include adaptiv-font(25, 18);
                        line-height: 140%;
                        letter-spacing: 0.02em;
                        color: #000000;
                    }

                    .subtitle{
                        margin-top: 1em;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 500;
                        @include adaptiv-font(17, 13);
                        line-height: 140%;
                        letter-spacing: 0.02em;
                        color: #000000;
                    }

                    a{
                        max-width: fit-content;
                        margin-top: 1em;
                        text-decoration: none;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 500;
                        @include adaptiv-font(17, 13);
                        line-height: 140%;
                        letter-spacing: 0.02em;
                        color: #6E9C9F;
                    }
                }
            }
        }
    }
}

