@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$maxWidth: 1600;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

header{
    position: fixed;
    z-index: 99;
    width: 100%;
    min-height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    .header-wrapper{
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            display: flex;
            align-items: center;
            color: #000000;
            text-decoration: none;

            span{
                transform: translateX(11px);
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 500;
                @include adaptiv-font(16, 10);
                line-height: 19px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
        }

        nav{
            width: 45%;
            ul{
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                li{
                    a{
                        text-decoration: none;
                    }
                    .active{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 700;
                        @include adaptiv-font(16, 10);
                        line-height: 140%;
                        letter-spacing: 0.02em;
                        color: #6E9C9F;
                    }

                    .deactive{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 500;
                        @include adaptiv-font(16, 10);
                        line-height: 140%;
                        letter-spacing: 0.02em;
                        color: #000000;
                    }
                }
            }
        }

        .number-and-basket{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .header-number{
                transition-timing-function: ease;
                transition-duration: 1
                0.5s;
                cursor: pointer;
                height: 100%;
                display: flex;
                align-items: center;
                width: 60%;
                color:#000000;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                @include adaptiv-font(14, 10);
                line-height: 140%;
                letter-spacing: 0.02em;

                div{
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .header-cart{
                cursor: pointer;
            }
        }
    }
}